<div class="center">
    <div class="container">
        <div class="col1">
            <div class="row1">
                <form [formGroup]="loginForm" (ngSubmit)="loginUser()">
                    <label for="">Name: </label>
                    <input type="text" placeholder="enter name" formControlName="user">
                    <br><br>
                    <label for="">Password: </label>
                    <input type="password" placeholder="enter password" formControlName="password">
                    <br><br>
                    <button>Login</button>
                </form>
            </div>
           

                <div class="row1" *ngFor="let data of Data">
                    Name: {{data.user}}<br>
                    Password:{{data.password}}
                </div>
            
            <!-- <div class="row1"></div>
        </div>
        <div class="col1">
            <div class="row1">

            </div>
            <div class="row1">

            </div>
            <div class="row1"></div>
        </div> -->
    </div>
</div>